.card {
    margin: auto 1.5rem 2rem;
    max-width: 22rem;
    min-height: 17rem;
    border-radius: 0.2rem;
    overflow: hidden;
    border: 1px solid var(--light-gray);
    border-radius: var(--border-radius);
}
.card:hover {
    box-shadow: var(--box-shadow);
}
.thumbnail {
    width: 100%;
    max-width: inherit;
}
.cardBody {
    padding: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.title {
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (max-width: 768px) {
    .card {
        max-width: 100%;
        height: auto;
        margin: 0.5rem;
    }
}
