.videoCard {
    max-width: 20rem;
    height: 16rem;
    margin: 1rem;
    border-radius: 0.2rem;
    overflow: hidden;
}
.thumbnail {
    width: 100%;
    max-width: inherit;
}
.cardBody {
    padding: 0.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
@media screen and (max-width: 405px) {
    .videoCard{
        max-width: 100%;
        height: auto;
        margin: auto;
    }
    .cardBody {
        padding: 0;
    }
}