.desktopNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    padding: 2.5rem;
    width: 20%;
    height: 100%;
    border-right: 4px solid var(--border);
}
.navLink {
    padding: 0.3rem 0;
}
.mobileNav {
    display: none;
}
.mbItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .desktopNav {
        display: none;
    }
    .mobileNav {
        display: block;
        position: fixed;
        bottom: 0;
        padding: 0.8rem 0;
        width: 100vw;
        background-color: var(--primary-light);
        box-shadow: rgba(0, 0, 0, 0.1) 0px -10px 15px -3px, rgba(0, 0, 0, 0.05) 0px -4px 6px -2px;
    }
}
@media screen and (max-width: 440px) {
    .mbName {
        display: none;
    }
}