.main {
    max-width: 82%;
    margin: 6rem auto;
}
.card {
    max-width: 25rem;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid var(--light-gray);
    text-align: center;
    box-shadow: var(--box-shadow);
}

.btn {
    background: none;
    border: 1px solid var(--light-gray);
    font-size: 14px;
    padding: 0.4rem 0.8rem;
    width: 100%;
    margin: 0.6rem auto;
}
.primary {
    color: var(--white);
    background-color: #27da53;
}
.primaryText {
    color: #1eaa41;
}
