.card{
    display: block;
    max-width: 25rem;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--border);
}
.footer {
    margin-top: 2rem;
}
.footerText {
    text-align: center;
}
@media screen and (max-width: 668px) {
    .card {
        width: 100%;
        padding: 1rem 0;
    }
}