@import 'react-toastify/dist/ReactToastify.min.css';

:root {
    --white: #ffffff;
    --light-gray: #ecfdf5;
    --red: #dc2626;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --border-radius: 0.2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}
.main {
    margin: 5rem 0 2rem 15rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        margin: 5rem auto 2rem;
        padding: 0.5rem;
    }
}
